/*  Grid */

@for $i from 1 through 12 {
    .col\:#{$i} {
        width: calc(#{$i} / 12 * 100%);
    }
}

.col\:auto {
    flex: 1;
}

.container {
    width: $container_width;
    margin: 0 auto;
    padding-left: $gutters;
    padding-right: $gutters;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -$gutters;
}
