/*  Hide */

.d\:n {
    display: none;
}
.o\:0 {
    opacity: 0;
}

.o\:05 {
    opacity: 0.5;
}

.o\:1 {
    opacity: 1;
}

.o\:hover\:0 {
    opacity: 0;
}

.o\:hover\:05 {
    opacity: 0.5;
}

.o\:hover\:1 {
    opacity: 1;
}
