/*  Layout */
.d\:f {
    display: flex;
}
.d\:i_f {
    display: inline-flex;
}
.d\:i {
    display: inline;
}
.d\:b {
    display: block;
}
.d\:i_b {
    display: inline-block;
}
.d\:t {
    display: table;
}
.d\:t_c {
    display: table-cell;
}

.o\:h {
    overflow: hidden;
}
.o_x\:h {
	overflow-x: hidden;
}
.o_y\:s {
	overflow-y: scroll;
}
.o\:s {
    overflow: scroll;
}
.o\:a {
    overflow: auto;
}
.o_f\:c {
    -o-object-fit: cover;
    object-fit: cover;
}

.h\:100 {
    height: 100%;
}

.m_h\:100 {
    min-height: 100%;
}

.m_h\:100vh {
    min-height: 100vh;
}

.m_w\:100 {
    min-width: 100%;
}

.c\:p {
    cursor: pointer;
}

.clr\:b {
    clear: both;
}

.f\:r {
    float: right;
}

.f\:l {
    float: left;
}